.ant-message-fade {
  transition: all .5s;
}

.ant-message-fade-enter,
.ant-message-fade-exit-to {
  opacity: 0;
  transform: translateY(-100%);
}

.ant-message-fade-enter-to,
.ant-message-fade-exit {
  opacity: 1;
  transform: none;
}
