.ant-message-fade-enter-active,
.ant-message-fade-exit-active {
  transition-property: opacity transform;
  transition-duration: 500ms;
}

.ant-message-fade-enter,
.ant-message-fade-exit-to {
  opacity: 0;
  transform: translateY(-100%);
}

.ant-message-fade-enter-to,
.ant-message-fade-exit {
  opacity: 1;
  transform: none;
}
