.ant-modal {
  --scale: 1;
  --translate-x: calc(50vw - 50%);
  transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale));
}

.ant-modal-fade-enter-active,
.ant-modal-fade-exit-active {
  .ant-modal-mask {
    transition: opacity var(--transition-duration);
  }

  .ant-modal {
    transition: transform var(--transition-duration);
  }
}

.ant-modal-fade-enter,
.ant-modal-fade-exit-to {
  .ant-modal-mask {
    opacity: 0;
  }

  .ant-modal {
    --scale: 0;
    --translate-x: calc(var(--active-element-center-x) - 50%) !important;
    --translate-y: calc(var(--active-element-center-y) - 50%) !important;
  }
}
