.ant-compact-horizontal {
  .ant-btn {
    border-radius: 0;
  }

  & > :first-child {
    &.ant-btn,
    & .ant-btn {
      border-top-left-radius: var(--ant-button-border-radius);
      border-bottom-left-radius: var(--ant-button-border-radius);
    }
  }

  & > :last-child {
    &.ant-btn,
    & .ant-btn {
      border-top-right-radius: var(--ant-button-border-radius);
      border-bottom-right-radius: var(--ant-button-border-radius);
    }
  }

  & > :not(:first-child) {
    &.ant-btn-primary,
    & .ant-btn-primary {
      border-left: 1px solid white;
    }
  }

  & > :not(:last-child) {
    &.ant-btn-primary,
    & .ant-btn-primary {
      border-right: 1px solid white;
    }
  }
}

.ant-compact-vertical {
  .ant-btn {
    border-radius: 0;
  }

  & > :first-child {
    &.ant-btn,
    & .ant-btn {
      border-top-left-radius: var(--ant-button-border-radius);
      border-top-right-radius: var(--ant-button-border-radius);
    }
  }

  & > :last-child {
    &.ant-btn,
    & .ant-btn {
      border-bottom-left-radius: var(--ant-button-border-radius);
      border-bottom-right-radius: var(--ant-button-border-radius);
    }
  }

  & > :not(:first-child) {
    &.ant-btn-primary,
    & .ant-btn-primary {
      border-top: 1px solid white;
    }
  }

  & > :not(:last-child) {
    &.ant-btn-primary,
    & .ant-btn-primary {
      border-bottom: 1px solid white;
    }
  }
}
