:root {
  --primary-color: #52c41a;
  --light-primary-color: #95de64;
  --dark-primary-color: #237804;
  --active-bg-color: #d9f7be;
  --hover-bg-color: rgba(0,0,0,.04);

  --error-color: #ff4d4f;
  --light-error-color: #ff7875;
  --dark-error-color: #d9363e;

  --error-bg-color: #fff2f0;
  --error-bg-hover-color: #fff1f0;

  --warning-color: #faad14;
  --color-warning-border-hover: #ffd666;

  --border-color: #d9d9d9;
  --secondary-border-color: #f0f0f0;

  --light-color: rgba(0, 0, 0, 0.45);
  --dark-color: rgba(0, 0, 0, 0.88);


  --color-text: rgba(0, 0, 0, 0.88);
  --color-text-secondary: rgba(0, 0, 0, 0.65);
  --color-text-tertiary: rgba(0, 0, 0, 0.45);
  --color-text-quaternary: rgba(0, 0, 0, 0.25);

  --light-bg-color: #fafafa;  

  font-size: 14px;
}